<ion-header>
  <ion-navbar>
    <ion-title>Whats Cooking?</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 <p>Here's Whats Going To Be In Your Plate Today!</p>
 <button class="snacks-button">Yes PLease.</button>
 <button>Umm.. No.</button>
</ion-content>
