<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="What's Cooking" tabIcon="bonfire"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Menu" tabIcon="pizza"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Settings" tabIcon="apps"></ion-tab>
</ion-tabs>
